<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        简途旅行核心管理系统
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" th:href="@{/static/lib/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/main.css}"/>
    <script type="text/javascript" th:src="@{/static/lib/jquery-1.11.1.min.js}"></script>
</head>
<body>
<div class="cwrap">
    <div class="header">
        <span>没有相关权限，请确认是否具有相关权限或联系管理员</span>
        <ul>
            <li class="message"></li>
            <li class="userInfo"></li>
            <li class="more"></li>
        </ul>
    </div>
    <div class="notfound">
        <div class="notfound_footer">
            <button onclick="javascript:history.go(-1)">立即返回</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        setTimeout("history.go(-1)",5000);
    });
</script>
</body>
</html>